# Xcode
.DS_Store
*.swp
*.lock
profile
*~.nib
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode build files
DerivedData/
Build/

# Xcode settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Xcode private settings
xcuserdata/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# Editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.bak
*.swp
